In [2]:
import pandas as pd
import numpy as np

In [4]:
Users = pd.read_csv('./data/Users.csv')
Books = pd.read_csv('./data/Books.csv')
Ratings = pd.read_csv('./data/Ratings.csv')

C:\Users\hp\AppData\Local\Temp\ipykernel_7776\1026416973.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  Books = pd.read_csv('./data/Books.csv')

In [6]:
# Books.head(5)

In [7]:
Books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [8]:
Users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [9]:
Ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [11]:
print(Books.duplicated().sum())
print(Users.duplicated().sum())
print(Ratings.duplicated().sum())

0
0
0

In [12]:
Ratings.head(5)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [17]:
Ratings['Book-Rating'].max()

10

In [18]:
Ratings['Book-Rating'].min()

0

In [ ]:
Ratings['Book-Rating'].count()

1149780

In [24]:
Ratings['Book-Rating'].unique()

array([ 0,  5,  3,  6,  8,  7, 10,  9,  4,  1,  2], dtype=int64)