In [1]:
import pandas as pd 
import numpy as np

In [2]:
Users = pd.read_csv('./data/Users.csv')
Books = pd.read_csv('./data/Books.csv')
Ratings = pd.read_csv('./data/Ratings.csv')

C:\Users\hp\AppData\Local\Temp\ipykernel_13172\1026416973.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  Books = pd.read_csv('./data/Books.csv')

In [ ]:
ratings_with_name = Ratings.merge(Books, on='ISBN')

In [8]:
ratings_with_name.head(5)

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

In [ ]:
num_rating_df =  ratings_with_name.groupby('Book-Title').count()['Book-Rating'].reset_index()

In [14]:
num_rating_df.head(2)

                                          Book-Title  Book-Rating
0   A Light in the Storm: The Civil War Diary of ...            4
1                              Always Have Popsicles            1

In [17]:
num_rating_df = num_rating_df.rename(columns={'Book-Rating': 'nums_rating'})

In [18]:
num_rating_df.head(2)

                                          Book-Title  nums_rating
0   A Light in the Storm: The Civil War Diary of ...            4
1                              Always Have Popsicles            1

In [19]:
avg_rating_df  = ratings_with_name.groupby('Book-Title').mean()['Book-Rating'].reset_index()

C:\Users\hp\AppData\Local\Temp\ipykernel_13172\3078419358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg_rating_df  = ratings_with_name.groupby('Book-Title').mean()['Book-Rating'].reset_index()

In [20]:
avg_rating_df.head(2)

                                          Book-Title  Book-Rating
0   A Light in the Storm: The Civil War Diary of ...         2.25
1                              Always Have Popsicles         0.00

In [21]:
avg_rating_df.rename(columns={'Book-Rating': 'avg_rating'}, inplace=True)

In [22]:
avg_rating_df.head(2)

                                          Book-Title  avg_rating
0   A Light in the Storm: The Civil War Diary of ...        2.25
1                              Always Have Popsicles        0.00

In [23]:
popularity_df = num_rating_df.merge(avg_rating_df, on='Book-Title')

In [24]:
popularity_df.head(2)

                                          Book-Title  nums_rating  avg_rating
0   A Light in the Storm: The Civil War Diary of ...            4        2.25
1                              Always Have Popsicles            1        0.00

In [28]:
popular_df = popularity_df[popularity_df['nums_rating']>=200].sort_values('avg_rating', ascending = False).head(50)

In [29]:
popular_df.head(5)

,Book-Title,nums_rating,avg_rating
80434,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804
80422,Harry Potter and the Goblet of Fire (Book 4),387,5.824289
80441,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410
80426,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441
60582,Ender's Game (Ender Wiggins Saga (Paperback)),249,5.409639

In [34]:
popular_df=popular_df.merge(Books , on='Book-Title').drop_duplicates('Book-Title')[['Book-Title','Book-Author', 'nums_rating', 'avg_rating','Year-Of-Publication', 'Image-URL-M' ]]

In [36]:
popular_df.head(2)

,Book-Title,Book-Author,nums_rating,avg_rating,Year-Of-Publication,Image-URL-M
0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,428,5.852804,1999,http://images.amazon.com/images/P/0439136350.0...
3,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,387,5.824289,2000,http://images.amazon.com/images/P/0439139597.0...

## this popular_df have 50 books which are rated highest and can be recommended to any one